table{
    border-style: outset;
    border-width: 4px;
    border-color: gainsboro;
    border-spacing: 0;
}
th, td{
    border: solid rgb(108, 144, 211) 3px;
    margin: 0px;
}
tr{
    margin: 0px;
}
table>thead>tr>td {
    background-color: rgb(17, 71, 64);
    color: rgb(162, 212, 165);
    text-align: center;
    font-weight: bold;
}
td {
    min-width: 120px;
}
table>tbody>tr:nth-child(odd)>td{
 background-color: rgb(198, 255, 201);
}
table>tbody>tr:nth-child(even)>td{
 background-color: rgb(162, 212, 165);
}
th{
    background-color: rgb(16, 51, 46);
    color: rgb(162, 212, 165);
    text-align: center;
    font-weight: bold;
}